html {
  padding: 0;
  margin: 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ece3f7;
}

input {
  border-color: #e2e8f0 !important;
}

div {
  border-color: #e2e8f0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  padding: 2px;
  background-color: #B794F4;
}

* {
  box-sizing: border-box;
}

div.css-v1r939 {
  margin-top: 0;
}