@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

html {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, "News Cycle", Helvetica Neue,
		sans-serif;
	height: 100vh;
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, "News Cycle",
		sans-serif;
	background-color: white;
	height: 100%;
}

input {
	border-color: #e2e8f0 !important;
}

div {
	border-color: #e2e8f0 !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

div.css-v1r939 {
	margin-top: 0;
}